body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #2c3e50;
  font-family: Helvetica;
}

a {
  text-decoration: none;
  color: black;
}

header,
footer {
  background-color: #1abc9c;
  flex-basis: 50px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  flex-basis: 800px;
  flex-grow: 1;
}

article {
  flex-grow: 3;
  flex-basis: 60%;
  background-color: #ecf0f1;
}

nav,
aside {
  flex-grow: 1;
}

nav {
  order: -1;
  background-color: #95a5a6;
}

aside {
  background-color: #3498db;
}

main > *,
header,
footer {
  margin: 4px;
  padding: 5px;
  border-radius: 7px;
}

@media all and (max-width: 640px) {
  main {
    flex-direction: column;
  }
  article {
    order: -2;
  }
}
